body{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background: linear-gradient(180deg, #1a0a04, #3c2f2a);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.firstpage
{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background: linear-gradient(180deg, #55207d, #751193cb);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      
}
.main{
    text-align: center;
}

.button{
    border-radius: 2px;;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
      
}


.button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #4d302b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .button1 {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #22063d;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 25%;

  }
 .main{
    text-align: center;
 }